*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    max-width: 1920px;
    background-color: white;
}

.hero-header{
    width: 100%;
    height: 130px;
    background-color: white;
    display: grid;
    grid-template-areas: 
    'a b b d'
    'a c c c';
    justify-content: space-around;
    row-gap: 0px;
    border-bottom: rgb(201, 201, 201) solid 1px;
}

.hero-header div{
    margin: auto;
}

.item-a{
    grid-area: a;
    margin-left: 200px;
}

.item-a img{
    width: 150px;
}

.item-b{
    width: 600px;
    background-color: none;
    grid-area: b;
    justify-content: space-between;
}

.menu{
    margin: auto;
    justify-content: space-between;
    display: flex;
    background-color: none;
    font-family: 'Poppins', sans-serif;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:medium;
    
}

.item-c{
    background-color: none;
    grid-area: c;
    transform: translateY(-30%);
    border: black solid 1px;
    border-radius: 5px;
    float: right;
    transform: translateX(35%);
}

.item-c input{
    width: 500px;
    padding: 10px;
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300px;
    font-size: small;


}

.item-c button{
    padding: 10px;
    border-radius:  0 5px 5px 0; 
    font-family: 'Poppins', sans-serif;
    width: 100px;
    background-color: #F6CC5C;
    border: none;
    border-left: none;
    cursor: pointer;
}

.item-d{
    background-color: none;
    grid-area: d;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;

}
 .item-d p{
    margin-left: 1rem;
    text-align: center;
 }

.body{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    display: grid;
    grid-template-areas: 
    'a b b b'
    'a c c c'
    'a c c c'
    'a c c c'
    'a c c c'
    'a c c c';
    justify-content: space-around;
    grid-row-gap: 0px;
    font-family: 'Poppins', sans-serif;
}

.body-item-a{
    background-color: #F9FAFC;
    grid-area: a;
    padding-top: 20px;
    width: 250px;
    min-height: 100vh;
}

.accordion{
    max-width: 400px;
}

.accordion .ContentBx{
    position: relative;
}

.accordion .ContentBx .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #053674;
}

.accordion .ContentBx .label::before{
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    position: relative;
    color: #053674;
    top: 40%;
    left: 85%;
    font-size: 0.75rem;
}

.accordion .ContentBx .check-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
}

.accordion .ContentBx .check-wrapper::-webkit-scrollbar{
   display: none;
    
}

.accordion .ContentBx.active .check-wrapper{
    height: 100px;
}
.accordion .ContentBx.active .label::before{
    content: "\f078";
}

.accordion2{
    max-width: 400px;
}

.accordion2 .ContentBx2{
    position: relative;
}

.accordion2 .ContentBx2 .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #053674;
}

.accordion2 .ContentBx2 .label::before{
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    position: relative;
    color: #053674;
    top: 40%;
    left: 85%;
    font-size: 0.75rem;
}

.accordion2 .ContentBx2 .check-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
}

.accordion2 .ContentBx2 .check-wrapper::-webkit-scrollbar{
   display: none;
    
}

.accordion3 .ContentBx3 .check-wrapper::-webkit-scrollbar{
    display: none;
     
 }

.accordion2 .ContentBx2.active .check-wrapper{
    height: 250px;
}
.accordion2 .ContentBx2.active .label::before{
    content: "\f078";
}

.accordion3{
    max-width: 400px;
}

.accordion3 .ContentBx3{
    position: relative;
}

.accordion3 .ContentBx3 .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #053674;
}

.accordion3 .ContentBx3 .label::before{
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    position: relative;
    color: #053674;
    top: 40%;
    left: 85%;
    font-size: 0.75rem;
}

.accordion3 .ContentBx3 .check-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
}

.accordion3 .ContentBx2 .check-wrapper::-webkit-scrollbar{
   display: none;
    
}

.accordion3 .ContentBx3.active .check-wrapper{
    height: 250px;
}
.accordion3 .ContentBx3.active .label::before{
    content: "\f078";
}

.accordion4{
    max-width: 400px;
}

.accordion4 .ContentBx4{
    position: relative;
}

.accordion4 .ContentBx4 .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #053674;
}

.accordion4 .ContentBx4 .label::before{
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    position: relative;
    color: #053674;
    top: 40%;
    left: 85%;
    font-size: 0.75rem;
}

.accordion4 .ContentBx4 .check-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
}

.accordion4 .ContentBx4 .check-wrapper::-webkit-scrollbar{
   display: none;
    
}

.accordion4 .ContentBx4.active .check-wrapper{
    height: 100px;
}
.accordion4 .ContentBx4.active .label::before{
    content: "\f078";
}

.accordion5{
    max-width: 400px;
}

.accordion5 .ContentBx5{
    position: relative;
}

.accordion5 .ContentBx5 .label{
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #053674;
}

.accordion5 .ContentBx5 .label::before{
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    position: relative;
    color: #053674;
    top: 40%;
    left: 85%;
    font-size: 0.75rem;
}

.accordion5 .ContentBx5 .check-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
}

.accordion5 .ContentBx5 .check-wrapper::-webkit-scrollbar{
   display: none;
    
}

.accordion5 .ContentBx5.active .check-wrapper{
    height: 100px;
}
.accordion5 .ContentBx5.active .label::before{
    content: "\f078";
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: none;
    border: 2px solid #053674;
    cursor: pointer;
    border-radius: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;


}

.check-wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper{
    padding-left: 50px;
    margin-bottom: 0.5rem;
}

.wrapper label{
    color: #03244D;
    cursor: pointer;
    font-size: small;
}

input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight:600;
    font-size: 10px;
    color: white;
    display: none;

}

input[type="checkbox"]:checked{
    background-color: #053674;
}

input[type="checkbox"]:checked::after{
    display: block;
    position: fixed;
}

.body-item-b{
    background-color: #F9FAFC;
    grid-area: b;
    padding: 10px;
    padding-left: 54px;
    height: 100px;
    width: 1100px;
    border-bottom: solid 1px #CDD7E3;
}

.body-item-b a{
    color: #F6CC5C;
    text-decoration: none;
    cursor: pointer;
    font-size: smaller;
}

.body-item-b #cases-skin{
    font-weight: bold;
}

.body-item-b i{
    color: #F6CC5C;
}

.fa-customize{
    font-size: 10px;
    margin-right: 10px;
}

.b-box h3{
    margin-top: 5px;
    font-weight:400;
}

.b-box p{
    margin-top: 10px;
    font-size: small;
    width: 1000px;
    font-weight: bold;
}

.results{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sort-by{
    display: flex;
    flex-direction: row;
    float: right;
    width: 200px;
}

.sort-by p{
    padding: 5px;
    margin: 0;
    width: 50px;
    color: #053674;
    font-weight: bold;
}

.sort-by select{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: bold;
}



.body-item-c{
    background-color:#F9FAFC;
    grid-area: c;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1100px;
}

.body-item-c .phone{
    
    width: 1100px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 10px;
}

.phone-single{
    width: 255px;
    height: 250px;
    background-color: inherit;
    
}

.phone-single img{
    width: 180px;
    height: 200px;
    top: 1rem;
    left: 1rem;
}


.phone-single p{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.product-info{
    width: 1000px;
}
.popular{
    background-color: #F6CC5C;
    border: none;
    border-radius: 3px;
    padding: 2px;
    width: 180px;
    margin: 1rem;
    margin-left: 2rem;
}

.popular{
    font-size: xx-small;
    text-align: center;
}
.device-title{
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: x-large;
    font-weight: bold;

}

.compare-info{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 1.5rem;
    width: 250px;
}

.price{
    color: #053674;
    font-weight: bolder;
    font-size: xx-large;
}

.website{
    color: black;
    font-weight: bolder;
    font-size: small;
    padding-top: 15px;
}

.ratings-store{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 1rem;
}

.ratings-store img{
    height: 30px;
}

.jumia-logo{
    height: 50px;
}

.ratings-store button{
    background-color: #053674;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ratings-store button i{
    margin-left: 10px;
    font-size: large;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: none;
    padding-top: 50px;
    margin-bottom: 50px;
    
}

ul{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

li{
    text-decoration: none;
    margin-top: 5px;
    font-size: smaller;
   
}

li a:hover{
    text-decoration: underline;
    transition: ease-in;
}

li a{
    text-decoration: none;
    color: #545559;
    font-weight: bold;
}

.header{
    font-weight: bold;
    margin-bottom: 10px;
    color:#053674;
    font-size: medium;
}

.footer-main{
    background-color: #E5EBF3;
    color: #545559;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.reserved{
    padding: 20px;
    border-top: 1px solid black
}
.reserved p{
    font-size: xx-small;
    text-align: center;
    background-color: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
