<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script src="https://kit.fontawesome.com/5e3fc3c5f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;900&family=Lexend+Deca:wght@300&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hero-header">
        <div class="item-a">
            <img src="Frame 2497.png" alt="logo">
        </div>
        <div class="item-b">
            <div class="menu">
                <a href="/">Home</a>
                <a href="#">Deals</a>
                <a href="#">Categories</a>
                <a href="#">Stores</a>
                <a href="#">Price Tracker</a>
            </div>
        </div>
        <div class="item-c">
            <input type="text" placeholder="What are you shopping for?">
            <button>Search <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="item-d">
            <button id="sign-in">Sign in</button>
        </div>
    </div>
    <div class="contact">
        <p>
            Contact Us
        </p>
    </div>
    <div class="form-parent">
        <form class="form">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter your email address" name="Email" id="email">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password">
            <label for="password">Message</label>
            <textarea name="" id="message" cols="30" rows="10" placeholder="Your message..."></textarea>
            <button>Send message</button>
        </form>
    </div>

    
    <div class="footer-main">
        <div class="footer">
            <ul>
                <li class="header">Categories</li>
                <li><a href="#">Mobiles</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Tablets</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Appliances</a></li>
            </ul>
            <ul>
                <li class="header">Brands</li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Tecno</a></li>
                <li><a href="#">Infinix</a></li>
                <li><a href="#">Nokia</a></li>
                <li><a href="#">HP</a></li>
                <li><a href="#">Lenovo</a></li>
            
            </ul>
            <ul>
                <li class="header">Site</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Merchant sign up</a></li>
                <li><a href="#">User guide</a></li>
            </ul>

            <ul>
                <li class="header">Support</li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Merchant sign up</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Privacy policy</a></li>           
            </ul>
        </div>
        <div class="reserved">
            <p>©2022 Shopsmart.com . All Rights Reserved</p>
        </div>
    </div>
</body>
</html>